@import 'theme-colors';
@import 'ui-variables';

// User Theme Colors
// You can manipolate them
// with less function, like `mix() lighten() darken() contrast()` etc etc...
// For Navbar and Settings.
// Default @green
@primary : @green;

// For url hovers and open thread.
// Default @green-A
@secondary : @green-A;

// All background except for sidebar.
// Default @white
@background : @white;

// Sidebar background
// Default darken(@background, 2%)
@sidebar-background : darken(@background, 2%);

// Text Color
// Default constrast(@background)
@user-text-color : contrast(@background);
